<div class="row">
  <div class="col-md-6 statement-panel-program-div">
    <div class="row">         
      <div class="col-md-6">
       <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id= "myTab">
          <li role="presentation"><a href="#character" role="tab" data-toggle="tab">Character</a></li>
          <li role="presentation"><a href="#loop" role="tab" data-toggle="tab">Variable</a></li>
          <li role="presentation"><a href="#if" role="tab" data-toggle="tab">Loop/If-Else</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="character">{{view COINCIDE.StatementsPanel_1_View}}</div>
          <div role="tabpanel" class="tab-pane" id="loop">{{view COINCIDE.StatementsPanel_2_View}}</div>
          <div role="tabpanel" class="tab-pane" id="if">{{view COINCIDE.StatementsPanel_3_View}}</div>
        </div>
      </div>
      <div class="col-md-6">
        {{view COINCIDE.StatementsPlacementView}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    {{view COINCIDE.CanvasView}}
  </div>
</div>


<!-- {{outlet}} -->