<div class="create-object statement-div form-inline">
	Create 
	<select class="createObject-object statementSelect">
		<option>Character</option>
		<option>Clock</option>
	</select>
	&nbsp;
	<input class="createObject-name form-control statementInput" type="text" size="2" placeholder="name">
	<input class="integer-input createObject-x form-control statementInput" type="text" size="1" placeholder="x">
	<input class="integer-input createObject-y form-control statementInput" type="text" size="1" placeholder="y">
</div>